/* --------------- */
/* Headers */
/* --------------- */

header {
  height: 6.4rem;
  position: relative;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.svg-logo {
  height: 4.2rem;
  border-radius: 50%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link, .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active {
  color: #cf711f;
}

.btn-nav-contact {
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #e1e1e1;
  padding: 1.2rem 2.4rem;
  border-radius: 100rem;
  z-index: 999;
}

/* --------------- */
/* Hero Section */
/* --------------- */

.hero-section {
  margin: 8.4rem 0;
}

.hero-text-box {
  /*temp*/
  /* width: 80%; */
}

.hero-text-skills {
  display: grid;
  grid-template-columns: 9rem auto;
  gap: 1.2rem;
  /* justify-items: center; */
}

.short-intro {
  font-size: 1.2rem;
  color: #626262d4;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.hero-text-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 8.4rem;
}


.hero-img-box {
  position: relative;
  grid-column: 2 / -1;
}

.hero-skills-tag {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  background-color: #fe8e3e;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  font-weight: 600;
  border-radius: 0.5rem;
  letter-spacing: 1.8px;
}

.skill2 {
  background-color: #fb6900e7;
  color: #f1f3f5e6;
}

.skill3 {
  background-color: black;
  color: #f1f3f5e6;
}

.skill4 {
  background-color: #e1e1e1;

}


.cta-btn:link, .cta-btn:visited {
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 120rem;
  width: 12rem;
  padding: 1rem 2rem;
  color: white;
  background-color: #fe5b02;
  letter-spacing: 1.5px;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.cta-btn:hover, .cta-btn:active {
  background-color: #e55202;
}

.hero-img-back {
  content: '';
  display: block;
  position: absolute;
  top: -44%;
  left: 8%;
  /* background-color: #3880ff; */
  height: 83%;
  width: 166%;
  align-self: end;
  border-radius: 100rem 0 0 100rem;
  transform: rotate(-40deg);
  overflow: hidden;
}

.hero-img-container {
  position: relative;
  height: 88%;
  width: 100%;
  border-radius: 120rem;
  background-color: #fe5b02;
  margin-top: 4.5rem;
}

.hero-img {
  display: inline-block;
  position: absolute;
  height: 137%;
  /* width: 50rem; */
  top: -7.3rem;
  left: 0;
  transform: rotate(40deg);
}

/* --------------- */
/* Projects Section */
/* --------------- */

.projects-section {
  margin: 9.6rem 0;
}

.projects-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

.projects-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 40rem;
  /* width: 95%; */
}

.projects-img {
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  border: 1px solid #fe8e3e4a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.4s;
}

.projects-img:hover {
  transform: scale(1.1);
}

.project1, .project2, .project3 {
  position: relative;
}

.project1 {
  align-self: start;
}

.project2 {
  align-self: center;
}

.project3 {
  align-self: end;
}

.projects-text {
  font-family: 'Jura';
  font-weight: 600;
  /* text-align: center; */
  margin: 1rem 1rem;
  font-size: 1.3rem;
  color: black;
}

.project-img-container {
  width: 25rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}

.project-no {
  display: block;
  font-weight: bold;
  background-color: #343a40;
  font-family: 'Jura';
  font-size: 2.4rem;
  color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  position: absolute;
  bottom: 1.5rem;
  left: 21.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.6px;

}

/* --------------- */
/* AboutMe Section */
/* --------------- */

.aboutme-section {
  margin: 10rem 0 9.6rem 0;
}

.profile-card {
  margin: 3rem auto;
  height: 60rem;
  width: 36rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-back img {
  height: 18rem;
  width: 100%;
}

.profile-info-text {
  padding: 8rem 4rem 4rem 4rem;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 1.6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-img {
  display: block;
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100rem;
}

/* --------------- */
/* cta Section */
/* --------------- */

.cta-section {
  margin: 9.6rem 0;
}


.cta-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: aliceblue;
  padding: 3rem 5rem;
  border-radius: 1rem;
}

.cta-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cta-header h2 {
  font-size: 2.2rem;
}

.getintouch-icon {
  height: 4.8rem;
  width: 4.8rem;
}

.cta-body {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
}

.cta-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-form input, textarea {
  border: none;
  background: none;
  padding: 1.5rem;
  background-color: #d8dfe6;
  width: 100%;
  border-radius: 1rem;
}

.btn--form {
  border: none;
  background: none;
  cursor: pointer;
  background-color: #fe5b02;
  color: whitesmoke;
  font-size: 1.4rem;
  padding: 1.5rem;
  width: 15rem;
  border-radius: 25rem;
  transition: all 0.3s;
}

.btn--form:hover {
  background-color: #e55202;
}

.social-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scoial-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.social-link:link, .social-link:visited {
  text-decoration: none;
  color: #626262d4;
  transition: all 0.4s;
}

.social-link:hover, .scoial-links:active {
  color: #333;
}


/* --------------- */
/* footer Section */
/* --------------- */

footer {}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 6rem;
  align-items: center;
  position: relative;
}


.footer-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer-links ion-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.gototop {
  height: 2.4rem;
  width: 2.4rem;
  padding: 1.6rem;
  border-radius: 24rem;
  background-color: aliceblue;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%);
}